[2019-07-29 13:48] pedrobaeza commented on #423
Isn't any way (arg or similar) to avoid to stamp that meta tag?

[2019-07-29 13:57] sbidoul commented on #423
Yes we could remove that line. But the whole thing remains very sensitive to small changes in the html output produced by docutils.

That index.html is only there because Odoo SA

[2019-07-29 14:02] pedrobaeza commented on #423
Yeah, good point about other possible changes due to different versions. Pinning seems a good option. Indeed, the HTML stuff is something very annoying...

[2019-09-02 10:41] hbrunn opened #426 "preloadable: False doesn't work for the readme generator"
in older Odoo versions, we can't have a static folder for addons that aren't python importable without prerequisites. Tha'ts implemented for the icon generator, but the readme generator also needs to abstain from adding its html file to the static folder.

See OCA/server-auth#128 (comment) for an example.

[2019-09-03 21:14] #426 closed

[2019-09-06 19:01] jobiols opened #429 "oca-gen-addon-readme fails with not utf-8 caracter in __manifest__.py"
### oca-gen-addon-readme

### Steps to reproduce
1. create a module
2. in __manifest__.py set 'author': "Pelayo Gómez"  note the accentuated ó
3. set # -*- coding: utf-8 -*- at the top

### Current behavior
when generating the README it fails with

Traceback (most recent call last):
  File "/usr/local/bin/oca-gen-addon-readme", line 11, in <module>
    load_entry_point('oca-maintainers-tools==0.1.

[2019-09-06 19:22] pedrobaeza commented on #429
You have to put `u"Pelayo Gómez"`

[2019-09-06 19:22] #429 closed

[2019-10-01 13:21] i-vyshnevska opened #430 "Accounting version 13.0"
This issue should gather information for changes in accounting between v12 and v13
to update wiki page https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0
fields renaming, replacing, other model, moving functional between methods

[2019-10-01 13:33] i-vyshnevska commented on #430
account.invoice -> account.move
        reference - ref
        partner_bank_id - invoice_partner_bank_id
        line_ids - related to account.move.line
        invoice_line_ids - changed relation from account.invoice.line to account.move.line, filtered field to line_ids
        tax_line_ids - was relation on account.invoice.tax, now account.invoice.tax replaced on account.tax, previous functions

[2019-10-03 17:27] SimoRubi opened #431 "[IMP] Generate addons table for a different directory"
### Module(s)
- `oca-gen-addons-table`

### Steps to reproduce
1. `oca-gen-addons-table --addons-dir /some/dir`

### Current behavior
Error: no such option: --addons-path

### Expected behavior
Build the addons table for the addons in `/some/dir`

[2019-10-21 13:50] #320 closed

[2019-10-26 13:09] BIZ4Africa opened #433 "Migration to version 13.0"
### Milestone (Odoo version)
- 13.0

### Module(s)
- hr_employee_relative

[2019-10-26 13:13] sbidoul commented on #433
Hello @BIZ4Africa

If you are migrating this module, you should mention it as a comment in https://github.com/OCA/hr/issues/683.

I'll therefore close this issue which does not belong to this repo. Let me know if you meant something else.

[2019-10-26 13:13] #433 closed

[2019-11-04 15:38] leemannd opened #435 "oca-clabot : False positive messages"
### Current behavior

1. User `lambda_user` Signs the CLA, open a PR and git it merged into the OCA repositories
2. `lambda_user` Leaves his company and get his github account deleted (or he just deletes his account because he wants to
3. Someone else migrates the module containing the commit.

You will endup with the `oca-clabot` raising an CLA warning.
Here you find an example: https://github.co

[2019-11-04 16:25] pedrobaeza commented on #435
I agree we should keep the CLA in that cases, and detect by mail, not by GitHub user, but currently the technical limitation is that one, that it's linked to the GitHub user, so if the user unlinks the corporate mail address from his/her user, we get the error.

[2019-11-06 16:28] leemannd commented on #435
Ok. Thanks for your answer. I taught there could be technical issues but I wasn't sure.

Feel free to close the issue if you see no solution or to keep it open as reminder if you want to do something with it.

[2019-11-06 16:29] pedrobaeza commented on #435
@gurneyalex @sbidoul can complement my answer to see if we can find a way out.

[2019-11-07 08:39] pedrobaeza commented on #430
I have added a reference to this issue in the migration guide for not saturating it with lots of data, so I close the issue now for not being outstanding. Thanks for the insights.

[2019-11-07 08:39] #430 closed

[2019-12-02 10:13] pedrobaeza opened #439 "oca-gen-addon-readme: No image path substitution on inline images"
One example is https://raw.githubusercontent.com/OCA/social/12.0/mail_tracking/readme/USAGE.rst

[2019-12-02 10:13] pedrobaeza commented on #439
@legalsylvain you were the original author of this useful feature. Can you please check?

[2019-12-02 11:32] legalsylvain commented on #439
Hi @pedrobaeza :

Seems to be an error of regexpr. But testing your use case, it seems that the expression is correct.
I tested on the plateform https://regexr.com/

``.*`` should catch the ``|delivered|`` pattern.

![image](https://user-images.githubusercontent.com/3407482/69955949-1634da80-14ff-11ea-824b-6ceb825fb0ed.png)

Not an expert on that point, sorry. maybe @acsone team could take a look?

[2019-12-02 13:58] pedrobaeza commented on #439
Thanks for the insights. Waiting for more feedback to see if we can fix it.

[2019-12-24 04:59] Rajkumar-pondy opened #440 "Missing stock_account_internal_move module in migration issue list 13.0"
I want to know the status of stock_account_internal_move module in migration 13.0

[2019-12-24 09:04] #440 closed

[2020-01-21 11:05] dreispt commented on #269
This is implemented now.

[2020-01-21 11:13] sbidoul commented on #269
Is it?

[2020-01-21 13:02] dreispt commented on #269
Sorry, confused repo README with module README.

[2020-01-30 20:49] sbidoul opened #441 "oca-gen-addon-readme sometimes generates an invalid README.rst and does not detect the error"
Example: running oca-gen-addon-readme on https://github.com/OCA/stock-logistics-barcode/commit/4da95cf88be04700ab27d7a0d604974d8838ef05 successfully generates an invalid rst file.

[2020-01-30 21:13] sbidoul commented on #441
Hm. Actually, the README generated in that example is valid according to `twine check`.

[2020-03-31 08:27] bodedra opened #445 "Migration to 13.0 wiki page, github reference link can not find commit"
### Current paragraph

Check that all "compute" methods of non-stored computed fields assign a value in any case to the field, even if it is a falsy one.

click on click.

![Firefox_Screenshot_2020-03-31T08-24-58 333Z](https://user-images.githubusercontent.com/14229503/78004141-585c1480-7357-11ea-875c-849f451d98fd.png)

It will give me following output.

![Firefox_Screenshot_2020-03-31T08-25-19 97

[2020-03-31 11:46] pedrobaeza commented on #445
As that's still a PR, I have removed the link and keep the guideline.

[2020-03-31 11:46] #445 closed

[2020-04-18 14:02] simahawk opened #446 "github3.py issue - is still used?"
I'm trying `oca-migrate-branch` and it fails here
[code]
I digged into it and my user is authenticated and I get back all my info from github but this key is not available (as well some others required later) .

Anybody used this tool recently?

BTW I've checked what https://github.com/PyGithub does: seems they pick such info only if available.

[2020-04-18 16:34] sbidoul commented on #446
oca-github-bot uses `github3.py` (1.3.0) and works fine.

[2020-04-18 17:24] simahawk commented on #446
`github.me()` is never called there.
This is were it fails on migrate https://github.com/OCA/maintainer-tools/blob/d3a4a8cff8a76c38d76efadb0a3294be53e59416/tools/migrate_branch.py#L111
and the migrate tasks are the only ones using it.

It seems required to provide commit credentials.

[2020-04-18 18:57] simahawk commented on #446
I fixed it here https://github.com/sigmavirus24/github3.py/pull/992

[2020-04-20 09:08] jcdrubay opened #448 "Fix inconsistency of line length between flake8 and black"
### Milestone (Odoo version)
- 13.0

### Module(s)
- all

### Steps to reproduce

For a piece of code which is:

- split on several lines with each line less than 80 characters before running pre-commit
- re-formatted by black into a single line of more than 80 characters.
- then I get a pre-commit exit 1 due to flake8

Example:

Before pre-commit,
[code]

After pre-commit, the line is 85 characte

[2020-04-20 10:12] jcdrubay commented on #448
Closed in favor of https://github.com/OCA/maintainer-quality-tools/issues/662

[2020-04-20 10:12] #448 closed

[2020-04-23 06:11] AaronHForgeFlow opened #449 "[13.0][WIKI] Update tasks to do"
In the section **Tasks to do in the migration** I miss the following:
* Change all field attributes `track_visibility='onchange'` by the field attribute `tracking=True`.

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

[2020-04-23 06:46] pedrobaeza commented on #449
But `track_visibility='onchange'` is still admitted, isn't it?

[2020-05-22 13:03] legalsylvain opened #454 "[RFC][IMP] gen_addons_table : Add maintainers and maturity columns"
Hi all,

I was thinking about the possiblity to update the gen_addons_table script, to add two new columns :

- a Maintainers column with the list of the maintainers as set in each module readme file. ([Sample](https://github.com/OCA/mis-builder/tree/10.0/mis_builder#maintainers))
- a badge column, with the maturity level (alpha, beta, ...) as set also in each module readme file([Sample](https://g

[2020-05-22 14:32] pedrobaeza commented on #454
As you know, I don't like too much that table, as it adds a lot of noise in commits and require the scanner that updates it, but if you have it, the maintainer can be interesting (if updated, which not always is true), and the maturity is as well, but people doesn't care too much about this unfortunately, so most of them will show beta.

[2020-05-24 09:43] sbidoul commented on #454
Hi Sylvain, I think it's a good idea to give a better visibility to these two important concepts. I'd put the maturity badge inside the version cell to save some space.

[2020-05-26 01:08] luisg123v commented on #430
Hi @i-vyshnevska,

I'd like to add to this issue, so maybe you could edit your comment if I'm not wrong.

I think the field `reference` on the invoice refers to the payment reference, which is stored on the move on `invoice_payment_ref`, not `ref`. The field `ref` would be filled with the `name` AFAIK.

Here is the list I've compilated so far to translate field names of invoices:
- `name` -> `ref`

[2020-05-26 07:25] i-vyshnevska commented on #430
also helpfull info
https://github.com/OCA/OpenUpgrade/blob/13.0/addons/account/migrations/13.0.1.1/openupgrade_analysis.txt

[2020-06-08 15:54] mymage opened #458 "[WIKI] Migration to version 12.0 - broken link"
Link to https://www.odoo.com/es_ES/slides/slide/let-s-create-records-faster-602 seems broken.

[2020-06-08 17:12] pedrobaeza commented on #458
Changed in https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0/_compare/cd2dc9aaf6ca64dc1db6aef528a10612a10ab822...a71213aaf67e8f725203a1e5cfef128b7587c9ff for the Youtube video, as the slide is no longer available.

[2020-06-08 17:12] #458 closed

[2020-06-08 18:12] moylop260 opened #459 "oca-gen-addon-readme: Title level inconsistent using `~`"
Using the following PR:
 - https://github.com/OCA/server-tools/pull/1776

Running the following command:
 - `oca-gen-addon-readme --repo-name=server-tools --branch 13.0 --org-name=OCA --addon-dir=server-tools/sentry`

The file output is:
 -
https://gist.github.com/moylop260/97cece8c80ca4c6ed168ae38704c42df

RST check output is:
[code]

I just googled a little bit and I found the following answer:

[2020-06-08 18:16] moylop260 commented on #459
Hi @sbidoul @legalsylvain
What do you think?

[2020-06-08 18:24] sbidoul commented on #459
@moylop260 Only `~` is allowed as title underlines in README fragments, so there is no need to change. See also https://github.com/OCA/maintainer-tools/pull/455#issuecomment-636305924.

[2020-06-08 18:30] #459 closed

[2020-06-14 09:49] sbidoul opened #462 "oca-publish-modules: output scan results as HTML"
Output the scan result as a nicely formatted HTML with a table of content, so we can publish it automatically to https://odoo-community.org/apps.odoo.com/

[2020-06-14 09:51] sbidoul opened #463 "oca-publish-module: optimize by registering only when needed"
Since we probably want to run the scan daily to publish the result, it could be a useful optimization to register only when a repo is not found.

[2020-09-10 15:17] dennybiasiolli opened #469 "Update "Migration to version 12.0" wiki for reports"
In Odoo 12.0 the function for getting report values was renamed from `get_report_values` to `_get_report_values`.
It could be useful to specify this in the [wiki section, task to do in the migration](https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0#tasks-to-do-in-the-migration).

Something like:

- Rename all `def get_report_values` functions to `def _get_report_values` insid

[2020-09-10 15:29] pedrobaeza commented on #469
Well, that wiki tries to expose general changes, not as specific as this one, as there are tons of changes similar to this one depending on the area you are developing on, so the list can be very long. Anyway, I let others to judge if they consider that this should be added, being in the grey area.

cc @sbidoul @dreispt @simahawk

[2020-09-10 18:41] dreispt commented on #469
I see this useful, but it is quite topic specific.
What I think it could work well is have a first document focusing only on the framework-wide changes, and another one highlighting specific item per App/Module.
That second document would mention specific changes to take care for when migration Accounting, Project, etc.

AFAICT this particular change is not important for reports, in general, but f

[2020-10-18 11:35] sbidoul opened #476 "Abandon python 2.7 support in maintainer-tools"
Can we stop testing for python 2 support in maintainer-tools ?

I'd say it's fairly reasonable to request maintainer-tools users to install it with python 3.6+ nowadays.

Where it is used in oca-github-bot and pre-commit hooks it is already python 3.

[2020-10-18 12:36] pedrobaeza commented on #476
Agree

[2020-10-18 12:51] sbidoul commented on #476
Done in #477

[2020-10-19 14:39] lmignon commented on #476
:+1:

[2020-10-19 21:08] #476 closed

[2020-10-24 16:20] Daemo00 opened #478 "Automate part of XML migration to v14"
Hi all,
this is not really an issue, I just happened to create a Python script for automating a part of the XML migration to v14 and wanted to share it.
Specifically, the script is https://gist.github.com/Daemo00/69599e023fa519061feb1863f620ab6b and helps substituting `act_window` and `report` tags with `record` tag.

The script can surely be improved, feel free to edit it and some better version

[2020-10-24 17:11] pedrobaeza commented on #478
This may fit in https://github.com/OCA/odoo-module-migrator/

[2020-10-24 17:31] Daemo00 commented on #478
Thanks I didn't know that repo, I'll try to move the script in there.

Maybe https://github.com/OCA/odoo-module-migrator/ could be mentioned in https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0 (and other Migration* wikis)?

[2020-10-24 17:35] pedrobaeza commented on #478
It has been moved very recently, and I don't know it very well, so I haven't been able to provide a good documentation to be included. If you do, maybe you can pass us some paragraphs to add.

[2020-10-24 20:09] Daemo00 commented on #478
@pedrobaeza I have proposed https://github.com/OCA/odoo-module-migrator/pull/38, so we can close this _issue_.

As for https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0, turns out I don't know how to propose a change :sweat_smile:: I have cloned https://github.com/OCA/maintainer-tools.wiki.git locally but can't manage to create a fork for it, then I can't create a PR.

The clo

[2020-10-24 20:09] #478 closed

[2020-10-25 14:59] pedrobaeza commented on #478
Yes, I'm afraid GitHub doesn't still allow to propose changes through regular mechanism. What you can do is to open an issue with such content and let any of the maintainers of the repo (including me) to add the text.

[2020-10-26 19:09] Daemo00 opened #479 "Promote migrator tool to help migrations"
It could be useful to add a link in the migration wikis (like https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0) pointing to https://github.com/OCA/odoo-module-migrator.

The package can automate part of the migrations so I think it should be at least mentioned in the wiki.

Something like https://github.com/OCA/maintainer-tools/compare/master...Daemo00:recommend_migrator mayb

[2020-10-26 19:11] pedrobaeza commented on #479
A more elaborated kick-in should be done (probably in library README itself), and point to it.

[2020-10-27 07:02] ygol opened #480 "Add PSC & Team to OCA's repo's readme.md file"
It will be useful to have the PSC + team listed in the README.md file of an OCA repository.

[2020-10-27 08:00] rousseldenis commented on #480
Indeed, as github interface does not display on repository the Team involved in. IMHO it could be a link to the PSC. e.g.: https://github.com/orgs/OCA/teams/logistics-maintainers

[2020-10-27 08:01] rousseldenis commented on #480
I can do it for the PSC I'm involved in.

[2020-11-14 09:12] alexey-pelykh opened #482 "OCA/timesheet repo not synced to Odoo Apps?"
@sbidoul @pedrobaeza I think you two the most knowledgable on this: https://apps.odoo.com/apps/modules/browse?search=brainbean lists modules from timesheet repo only, and that's clearly outdated. All other modules (from other repos) have been updated successfully.

[2020-11-14 11:22] sbidoul commented on #482
@alexey-pelykh this is how it looks like. The was no error displayed until I manually clicked the scan button. Maybe their auto scan feature is broken? Anyway, see the hr_timesheet_sheet dependency error...

![image](https://user-images.githubusercontent.com/692075/99145962-c4d01d80-2673-11eb-9e89-ba0f9541df04.png)

[2020-11-14 11:30] alexey-pelykh commented on #482
@sbidoul wow, that's a bunch of errors. So it seems there's at least dependency issue and ownership issue (this one makes no sense at all)

[2020-11-14 11:31] alexey-pelykh commented on #482
Oh, actually it's the "hr_timesheet_sheet" module that's published from other account (it seems) that's causing the issue. I believe w/o reaching out to Odoo admins it won't be fixable?

[2020-11-14 11:33] sbidoul commented on #482
Yes someone has to reach out to apps.odoo.com admins. hr_timesheet_sheet obviously belongs to Odoo SA on older branches. I don't know if a name can be owned by different orgs on different branches.

[2020-11-14 11:34] alexey-pelykh commented on #482
Oooooh, yeah, that could be an issue. Who of OCA has the power and mandate to outreach Odoo SA regarding this matter?

[2020-11-14 11:36] sbidoul commented on #482
Feel free to give it a try :shrug:

[2020-11-14 11:39] pedrobaeza commented on #482
I think the only solution is to rename our module.

[2020-11-14 11:45] alexey-pelykh commented on #482
cc @astirpe @MiquelRForgeFlow as well

[2020-11-16 05:52] alexey-pelykh commented on #482
@pedrobaeza I guess that's related then for all modules that OCA took over?

[2020-11-16 08:18] pedrobaeza commented on #482
Yes. Sometimes is better that is not shown in apps (like `mrp_subcontracting` v12 backport, that we don't want to rename when migrating to v13). But for OCA/payroll, we renamed the fw-ported modules to v13, as now they follow a different path from enterprise ones.

[2020-11-16 08:22] alexey-pelykh commented on #482
I wonder how those conflicting modules were published before 🤔 Odoo SA did not perform checks or something like that. Do we have modules that have same name as EE ones from same version?

[2020-11-16 08:24] pedrobaeza commented on #482
I don't get your question.

[2020-11-16 08:24] sbidoul commented on #482
I think they were never published on apps.odoo.com. I very much doubt Odoo will change the policy regarding name ownership across branches. I think this has been discussed before.

We should really avoid that.

[2020-11-16 08:26] alexey-pelykh commented on #482
Guess you're right, since https://apps.odoo.com/apps/modules/12.0/hr_timesheet_sheet leads to nowhere and fact that https://apps.odoo.com/apps/modules/12.0/hr_timesheet_sheet_activity was somehow published before only means that apps.odoo.com did not perform check (or that was only a warning) about missing dependency?

[2020-11-16 08:28] alexey-pelykh commented on #482
Yeah, that has no value to them I guess, so why bother. Thus question transforms "what OCA going to do about that and its policies" I guess. As @pedrobaeza mentioned renaming, it seems like only alternative to "doing nothing and using own app store"

[2020-11-16 08:31] pedrobaeza commented on #482
I'm not caring at all for my modules in Odoo Apps since a lot...

[2020-11-17 14:30] alexey-pelykh commented on #482
@pedrobaeza do you have a proper point of contact for such a talk in Odoo SA? It would be great to tag them here and see what would be the result :)

[2020-11-17 16:13] pedrobaeza commented on #482
Nop, the interaction is through apps at odoo dot com.

[2020-11-18 18:57] alexey-pelykh commented on #482
Well, as we assumed, they've said that our best bet is to rename our modules

[2020-12-11 08:01] dreispt opened #485 "ERROR: Requested docutils<0.15.1.1,>=0.15.1 (from oca-maintainers-tools==0.1.dev998+g1b5c7ad) has different version in metadata: '0.15.1'"
Help, I see 14.0 build failing because of oca-maintainers-tools.
Example: https://travis-ci.com/github/OCA/account-analytic/jobs/457559449#L299

[2020-12-11 08:03] pedrobaeza commented on #485
Fixed in #483 and waiting for its deployment by @sbidoul

[2020-12-11 08:03] #485 closed

[2020-12-16 12:10] yelizariev commented on #334
This approach can be partially applied, while keeping current structure of repositories.
So, instead of making few pull requests with different code, you can prepare a single PR and let robots make others PRs.
I kind of use it, but instead of code that checks odoo version, I make a comment like

[code]
So, I make a PR to 9.0, then it's merged, me or a robot move the code to v10 and then I update t

[2020-12-26 10:04] pniederlag opened #488 "repo search-engine is missing"
### Steps to reproduce
1. run oca-clone-everything

### Current behavior

failure on cloning search-engine

[code]

other repos did checkout fine

### Expected behavior

all listed projects checkout

[2020-12-26 10:12] pniederlag opened #489 "oca-github-login failing"
### Steps to reproduce
1. reading readme in order to get involved
2. git clone and pipx install ./maintainer-tools
2. start with oca-github-login pniederlag

### Current behavior

Two-Factor-Auth is enabled on my account
[code]

[2021-02-05 08:22] angelmoya opened #490 "There is any way to prevent translate term on weblate?"
### Milestone (Odoo version)
- 12.0

### Module(s)
- website_no_crawler

### Steps to reproduce
1. check this commit https://github.com/OCA/website/commit/549d6ac4aef444419bf762145966c0af725b1d70

### Current behavior

Some one translate code, that should not be translated

### Expected behavior

Protect terms to be translated.

There is any way to prevent translate term on weblate?

[2021-02-05 18:05] #490 closed

[2021-03-20 20:09] alessandro-fiorino opened #493 "Update "Migration to version 14.0" wiki for "track_visibility" change in "tracking""
The "track_visibility" string attribute of fields has been removed.
It has been replaced with a "tracking" boolean attribute
https://www.odoo.com/documentation/14.0/reference/mixins.html#logging-changes

[2021-03-20 20:24] pedrobaeza commented on #493
This is something in v13, not v14. It's included there. It's true than in v13 both are still supported, but it should be changed there.

[2021-07-19 10:21] simahawk commented on #489
the workaround works for me as well. Can you propose a PR to include this in the readme?

[2021-07-22 13:44] simahawk commented on #488
search-engine seems to be listed https://github.com/OCA/maintainer-tools/blob/master/tools/oca_projects.py#L179
Do you still have this issue?

[2021-08-07 11:28] #454 closed

[2021-08-20 08:48] alessandro-fiorino opened #507 "Update "Migration to version 14.0" wiki for ir.actions.* access rights change"
The access to ir.actions.* objects has been removed, so you need to use sudo or interact via the /web/action/load controller
See https://github.com/odoo/odoo/pull/53335

[2021-08-20 08:58] pedrobaeza commented on #507
Isn't that for v15?

[2021-08-20 09:24] alessandro-fiorino commented on #507
The one for v15 is for ir.model.*
For ir.actions.* the commit has been already been merged in V14, see
https://github.com/odoo/odoo/commit/de4213b771f641cbc218ebb1f759b09e064100bf#diff-e275aaa5de11da2815c2f0cc18bc046f967df5e4eba94999ee55ffe8926c87bd

[2021-09-02 09:32] M-Saeb opened #508 "Error from all buttons"
Odoo 13

base_report_to_printer
base_report_to_printer

I'm getting the following error when ever I click on any button:
[code]

[2021-09-02 09:43] pedrobaeza commented on #508
This has nothing to do with this repo and even no steps to reproduce the problem are indicated.

[2021-10-05 12:41] sbidoul opened #509 "Update our tooling to support Odoo 15"
What needs to be done to create the 15.0 branches
- [x] create OCB 15.0 branch
- [x] update [OCB sync script](https://github.com/OCA/maintainer-tools/blob/master/tools/ocb-sync.sh)
  - https://github.com/OCA/maintainer-tools/pull/510
- [x] deploy updated OCB sync script
- [x] update click-odoo and click-odoo-contrib (needed to generate .pot files with click-odoo-makepot)
  - CI updated, no change

[2021-10-05 13:08] legalsylvain commented on #509
- [ ] Add 15.0 to the odoo-module-migrator allowed branches. (https://github.com/OCA/odoo-module-migrator)

[2021-10-05 14:54] pedrobaeza commented on #509
OCA runbot is not working now since the certificate-pocalypse of the last week

[2021-10-06 07:06] sbidoul commented on #509
@pedrobaeza @hbrunn @StefanRijnhart to unlock various things depending on it, I pushed odoo/odoo:15.0 to oca/ocb:15.0. Let me know if this is not the right thing to do. Also if one of you feels like updating the ocb sync script in this repo and on the oca server, this is most welcome :)

[2021-10-13 13:08] gaikaz commented on #430
The commit of the whole thing with a good description: https://github.com/odoo/odoo/commit/beaa30a3d1843de43a45f419bfbc1bfa7613a920

[2021-10-15 14:12] pedrobaeza commented on #509
Out of curiosity, this is the differences between OCB 14.0 and Odoo:

https://github.com/odoo/odoo/compare/14.0..OCA:14.0

[2021-10-15 16:47] sbidoul commented on #509
I initialized server-tools 15.0 using #472.

[2021-10-18 12:21] leemannd opened #512 "Typo in wiki migration to 15.0"
There is a typo into the wiki to migrate to 15.0 -> https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

Original
$ git clone https://github.com/OCA/$REPO -b 15.0
$ git checkout -b 14.0-mig-$MODULE origin/15.0
$ git format-patch --keep-subject --stdout origin/15.0..origin/14.0 -- $MODULE | git am -3 --keep
$ pre-commit run -a  # to run black, isort and prettier (ignore pylint er

[2021-10-18 14:07] ap-wtioit opened #513 "15.0 unsupported in pre-commit"
### Milestone (Odoo version)
- 15.0

### Module(s)
- pre-commit

### Steps to reproduce
1. Run pre-commit in a 15.0 branch (e.g. https://github.com/OCA/web/pull/2055/checks?check_run_id=3927439714)

### Current behavior
[code]

### Expected behavior

Version 15.0 should be supported by now.

Not 100% sure if this belongs to maintainer-tools but i would guess so.

[2021-10-19 06:30] ap-wtioit commented on #513
fixed with https://github.com/OCA/oca-addons-repo-template/pull/75

[2021-10-25 11:39] joao-p-marques opened #517 "Mark migration issues as "no stale""
Now that the `stale` action has been implemented in all/most OCA repos, maybe the Github bot should update all the Migration issues to mark them as `no stale`,  using a Label with that name: https://github.com/OCA/oca-addons-repo-template/blob/master/.github/workflows/stale.yml#L23

Example where it should be applied: https://github.com/OCA/brand/issues/43

[2021-10-25 13:54] ITerraGroup opened #516 "Runbot for PR in oca/web doesn't start"
### Milestone (Odoo version)
- 15.0

Hello! I have a problem with running runbot for PR in oca/web
https://github.com/OCA/web/pull/2058
It seems that still no runbot for 15.0 version was running
https://runbot.odoo-community.org/runbot/repo/https-github-com-oca-web-162

Also I see that there is a problem with eslint configuration.
I see error in pre-commit:
`3:1  error  Parsing error: 'import' and

[2021-10-26 10:12] #516 closed, assigned to nobody

[2021-11-17 11:47] BernatPForgeFlow opened #518 "Migration to version 15.0: --directory option added"
WIKI

@pedrobaeza
Hello Pedro!

On the wiki of the migration to version 15, why did you add the option **--directory $MODULE**?
@GuillemCForgeFlow and me are using the command with this new option but we don't understand the functionality with the addition:
It creates an additional leftover directory with the same name as the module, that is not necessary. Without this option, it was working corre

[2021-11-17 11:48] pedrobaeza commented on #518
I added because if not, for me it's not working the command. Maybe it depends on the version of `git`? Which one do you have?

[2021-11-17 11:49] pedrobaeza commented on #518
Sorry, `it's not working` means that the contents of the module are put in the root folder instead of the module folder.

[2021-11-17 11:51] BernatPForgeFlow commented on #518
We are using **git version 2.25.1**

[2021-11-17 11:54] BernatPForgeFlow commented on #518
Okay, we understand. We will use it without your option.

[2021-11-17 11:56] pedrobaeza commented on #518
I'm using the exact same version, so it's very weird... Maybe I'm the only one with the problem. I'm reverting the change in the migration guide until being sure.

[2021-11-17 11:56] #518 closed

[2021-11-25 09:34] simahawk opened #519 "oca-migrate-branch: still working?"
I'm trying `oca-migrate-branch` to re-generate 15.0 branch on server-auth w/ all modules as not installable.
It fails here complaining that the branch and/or the ref that is creating does not exist (that's your task bro!):
[code]
Is anybody still using it? Is there any know issue?

[2021-11-25 11:00] pedrobaeza commented on #519
It should work, but you shouldn't apply it to general branches like `server-auth`. OK that you change the method for specific like connector or queue, but not on other general modules branches.

[2021-11-28 16:32] sbidoul opened #520 "oca-gen-addon-readme: do not regenerate if content did not change"
**Is your feature request related to a problem?**

Currently, the oca github bot generates all readme files nightly. This is good to provide uniformity and keep them fresh.
However, this mean that tiny changes in the readme generator output will regenerate thousands of README files, and publish thousands of packages to our wheelhouse and PyPI.

Consequently, we have [pinned](url) the version in th

[2021-12-09 10:26] #449 closed

[2021-12-11 17:22] sebastienbeau commented on #334
@Yajo just some feedback from repo where I am PFC (storage, search engine)
I am convinced that this can not be applied to all repo (because some repo are a mix of a lot of different module and migration process is a opportunity to drop obsolete module)
But in some repo (like search-engine, storage, connector, queue_job @guewen ) where all module are really linked together and don't depend of a lot

[2022-02-08 18:04] sbidoul commented on #509
I updated the weblate deployment to pick up 15.0 branches

[2022-02-21 14:55] rousseldenis opened #524 "[gen-addon-readme] Add support of runboat"
@sbidoul @gurneyalex

[2022-02-21 16:57] sbidoul commented on #524
Yes, you can do a PR if you like.

This depends on #520 for deployment.

[2022-02-21 17:00] pedrobaeza commented on #524
Well, basically all READMEs will change, so no need of #520, isn't it?

[2022-02-21 17:04] sbidoul commented on #524
There is no strong need to regenerate all READMEs since the redirection to runbot is in place.
And we still need #520 to avoid a regeneration of everything each time we want to tweak the README for any reason .

[2022-02-21 17:06] pedrobaeza commented on #524
OK, I prefer to have the new shiny badge "Try me on runboat", but as you prefer.

[2022-02-24 09:54] jwaes opened #525 "Command missing in Wiki page 'Migration to version 15.0'"
On wiki page https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

In code block

[code]

A line should be added:

[code]

[2022-02-24 09:57] pedrobaeza commented on #525
Good point. Added.

[2022-02-24 09:57] #525 closed

[2022-03-06 14:38] legalsylvain opened #526 "[RFC] autogenerate INSTALL part of the README file most of the time"
Hi all,

**Rational**

Most of the time, ``INSTALL`` section of the ``README.rst`` file is just a simple text to say which (external/python) library should be installed. The text could be autogenerated, parsing ``__manifest__.py`` (``external_dependencies`` key) or (``external_dependencies_override`` key in ``setup.py`` file). That way :
- it avoids writing a text that can be guessed.
- it avoid i

[2022-03-07 07:15] pedrobaeza commented on #526
Thanks for the suggestion. It's a good idea. Though, I have used INSTALL.rst in some occasions to mention that a field is computed and stored to warn about the installation time, so I would propose to always append to the content of the INSTALL.rst the auto-generated part (although having the possibility to double content for those existing ones).

[2022-03-07 10:57] pedrobaeza commented on #526
I don't think the concatenation will suppose any problem, as you only need to append the new paragraphs making sure 2 carrier line as provided for being detected as a new block.

About putting the module dependencies in the INSTALL, I do it when the module doesn't belong to the same repository, as newcomers (or not so new) don't know where to look for finding such dependencies. I know that with pi

[2022-03-07 12:30] legalsylvain commented on #526
OK for me !

Well, regarding that point, indeed, if the module is present in another repository (OCA has > 200 repositories), it's great to mention it.

What about to call pypi (https://warehouse.pypa.io/api-reference/) Let's imagine an OCA/web 12.0 module, dependending on ``product``, ``base_technical_features`` and ``web_responsive``. If we look at pypi :

-> https://pypi.org/project/odoo12-addo

[2022-03-07 12:40] pedrobaeza commented on #526
If you think that can be feasible, it's OK. Not sure if we are avoiding the online connection in the generator or other point of failure.

[2022-03-07 12:56] legalsylvain commented on #526
When executed locally, it could be a problem. If we don't have access to Internet or if pypi is down, it will prevent to generate readme files.
That is a choice. Don't have a clear point of view on that topic. Let's wait what other @OCA/tools-maintainers think.

When executed on the github CI or by the @OCA-git-bot, not a problem in my opinion as the process will fail if pypi is not available.

[2022-03-22 07:35] Yajo opened #527 "oca-cla-bot fails with old commits and old emails"
## Describe the bug
oca-cla-bot fails when somebody migrates a module that includes commits from an email that had CLA signed back then, but not anymore.

## To Reproduce
See https://github.com/OCA/website/pull/882#issuecomment-1073983516

**Expected behavior**
My old job email should still pass ✔️ because when I pushed those commits back then, I had the CLA signed with that email.

[2022-03-22 09:11] rousseldenis commented on #527
@Yajo I think this is tied to how we do migrations.

IMHO (I'll try to open a discussion soon), migrations should include only migration commits. It's becoming more and more difficult to review migrations.

We should create new main branches from preceding one.

[2022-03-24 07:40] Yajo commented on #527
Well, it truly has a security problem, but outside of that I agree that the old process was even worse.

In any case, all of that is outside of the scope. The problem is that the bot complains about email addresses that were CLA-signed back then. It should compare the email *and date* of the commit, and then complain about those that have no CLA approval within that specific date.

[2022-03-24 07:44] pedrobaeza commented on #527
Yes, I also put the same on https://github.com/OCA/oca-github-bot/issues/170. @sbidoul @gurneyalex maybe you can check it.

[2022-04-03 10:27] sbidoul commented on #527
I don't think there is anything reasonable we can do to fix the current CLA bot. Long term we may want to move to a paperless and more robust process with, e.g., https://github.com/cla-assistant/cla-assistant.

[2022-04-03 10:40] pedrobaeza commented on #527
@sbidoul we just need to include in the bot `with_context(active_test=False)` for searching inactive contacts

[2022-04-06 11:47] gurneyalex commented on #527
I just added the context key in the legacy clabot. Let's see if it helps.

[2022-05-09 08:46] NL66278 commented on #489
The workaround also worked for this problem:

[code]

[2022-05-09 13:52] simahawk commented on #489
I think I ended up pinning an old version and the forgot to report here.... wait

[2022-05-09 13:56] simahawk commented on #489
Last version that worked for me was 1.4.0 I think.
A bit of history here https://github.com/OCA/maintainer-tools/issues/446

[2022-07-20 14:39] obayit opened #532 "[Wiki] migration from 12.0 to 13.0"
In the wiki, in the part that says:

In the `act_window` in version `11.0` ther was an attribute `src_model` I think in `13.0` it has changed to `binding_model`.

This note should be added to the wiki, since the error when doing the upgrade is not helping, it just says invalid xml schema.

Also there is no `key2` attribute anymore

[2022-07-24 10:37] pedrobaeza commented on #532
Thanks for noting it. Added in the wiki.

[2022-07-24 10:37] #532 closed

[2022-09-21 08:16] sbidoul opened #537 "Update our tooling to support Odoo 16.0"
What needs to be done to create the 16.0 branches
- [x] determine python and posstgres version to use in CI
  - Odoo SA's runbot is on python 3.10
  - It seems the jsonb translations require postgres 12+
- [x] prepare migration wiki page https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0
- [x] create OCB 16.0 branch @pedrobaeza
- [x] update [OCB sync script](https://github.com/

[2022-09-21 08:16] #509 closed

[2022-09-21 08:18] pedrobaeza commented on #537
I can create the OCB 16.0 branch

[2022-09-21 08:28] legalsylvain commented on #537
Hi @sbidoul, could you add :
- [ ] create 16.0 OpenUpgrade branch ? (the project has to be created manually)

[2022-09-21 09:12] pedrobaeza commented on #537
OCB branch created: https://github.com/OCA/OCB/tree/16.0

[2022-09-21 09:13] pedrobaeza commented on #537
And the OCB sync script updated at https://github.com/OCA/maintainer-tools/pull/538

[2022-09-21 13:34] carmenbianca commented on #537
I'll have a look at oca-ci.

[2022-09-26 12:01] sbidoul commented on #537
If anyone wants to try updating the repo template, that is welcome as I have little available time this week.
Mostly, we need to pick-up the latest linters (doing a dry-run of `pre-commit autoupdate` on an existing repo will give the versions to use), and determine which pylint-odoo rules to make mandatory, and the new ones to enable.

[2022-09-26 14:45] lmignon commented on #537
@sbidoul I'll take a look at the repo template.

[2022-09-26 15:54] lmignon commented on #537
oca-addons-repo-template PR: https://github.com/OCA/oca-addons-repo-template/pull/160

[2022-09-27 06:53] lmignon commented on #537
looking at [oca-github-bot](https://github.com/oca/oca-github-bot), the only thing that would need to be changed is the config on the server in the environment file to add version 16.0 in MAINTAINER_CHECK_ODOO_RELEASES

[2022-09-28 08:22] lmignon commented on #537
IMO the topics `determine python and postgres version to use in CI` and `update [addons repo template](https://github.com/OCA/maintainer-tools/issues/github.com/oca/oca-addons-repo-template)` can be ticked as done.
For the record I manually created the [16.0 branch](https://github.com/OCA/rest-framework/tree/16.0) on the rest-framework repo and created a [first PR](https://github.com/OCA/rest-fram

[2022-09-28 17:26] pedrobaeza commented on #537
Should we proceed with the 16.0 branches creation? @sbidoul are you going to do like other years?

[2022-09-28 17:33] sbidoul commented on #537
I'll do it yes. I was planning to do it this weekend if everything is ready.

Last open question I think is the pylint configs: https://github.com/OCA/oca-addons-repo-template/pull/160#issuecomment-1258552425

[2022-10-03 09:12] sbidoul commented on #537
I prepared OCA/social: https://github.com/OCA/social/issues/974. All looking good.
Still waiting a little bit for input about pylint-odoo before opening all other repos.

[2022-10-16 05:31] HarhuTechnologies opened #542 "Module Migration from v15 to v16"
**Is your feature request related to a problem?**
There are some modules missing to be migrate and I want to migrate them.

**Module Migration**
I want to migrate all the remaining modules from v14 to v15, v15 to v16

**Describe alternatives you've considered**
I want the list of modules to be migrate for specific version so I can start work on it.

**This is our start with OCA, we are newbie**
I

[2022-10-16 10:43] pedrobaeza commented on #542
Hi, when you have the pull request of the module migration and CIs pass, a command put by any PSC will add the module to the migration issue. Please see https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0 (or the corresponding version one) for tips about the procedure, and if the jump is between several versions, just change the numbers on the command fetching the commits).

[2022-10-16 10:43] pedrobaeza commented on #542
Closing as no direct issue in the modules.

[2022-10-16 10:43] #542 closed

[2022-10-16 12:13] jcdrubay commented on #542
The list of modules to migrate to version 15 can be found here:
https://oca-cm-15.komit.link/odoo-module-versions

[2022-10-17 08:03] rousseldenis opened #543 "oca-set-repo-labels: Returns a 404 error"
`Traceback (most recent call last):
  File "/home/dro-local/.local/bin/oca-set-repo-labels", line 8, in <module>
    sys.exit(main())
  File "/home/dro-local/.local/pipx/venvs/oca-maintainers-tools/lib/python3.10/site-packages/tools/set_repo_labels.py", line 73, in main
    repo_label.update(label_name, label_color, label_description)
  File "/home/dro-local/.local/pipx/venvs/oca-maintainers-tools

[2022-10-17 08:05] rousseldenis commented on #543
Replacing the function to get one repo `gh.repository(owner, repo)` gave me a workaround to fix this

[2022-10-17 16:53] #543 closed

[2022-10-17 17:29] rousseldenis commented on #543
Great!

[2022-11-04 09:43] TheMule71 commented on #537
Hi. I don't really know how to propose changes to Wiki pages (the edit buttton escapes me), so I'm gonna add a comment here.

IMHO the following items are worth considering as additions to the guide https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0:

- https://github.com/odoo/odoo/commit/26b2472f4977ccedbb0b5ed5f08be2c04313fd21 changes to `account.account`: `account.account.ty

[2022-11-07 21:05] pedrobaeza commented on #537
Hi, Marco, I'm afraid GitHub doesn't still offer any way to do such suggestion (or that seems so - https://stackoverflow.com/questions/10642928/how-can-i-make-a-pull-request-for-a-wiki-page-on-github).

Anyway, the changes we put there are the framework ones, not the data model ones, as this last category is very long (see https://github.com/OCA/OpenUpgrade/pull/3583 for the whole list of changes)

[2022-11-08 09:47] TheMule71 commented on #537
Makes sense, thanks.

[2022-11-17 09:11] chienandalu opened #546 "[IMP] Migration to version 16.0 WIKI - web.assets_qweb deprecation"
Proposed check list item:

- XML assets templates are now added into regular asset bundles. Previously they were added to the fake asset bundle `web.assets_qweb` and now they should be should be declared in their proper assets bundle that fit their scope (`web.assets_backend`, `web.assets_frontend`, etc). You can check plenty of examples in the original refactor: https://github.com/odoo/odoo/pull/

[2022-11-18 08:58] chienandalu commented on #546
ping @pedrobaeza

[2022-11-18 09:38] chienandalu opened #548 "[IMP] Migration to version 15.0 WIKI - xml-deprecated-tree-attribute"
- Remove the `string` attribute from `<tree>` tags. They're deprecated as the name for the view in UI is given by the `act_window` that loads it. Review any `act_window` name that is launched dinamically by a python method; their name attribute should be a translatable string.

cc @Tecnativa

ping @pedrobaeza

[2022-11-18 10:17] pedrobaeza commented on #548
But I think this is something from before, not on v15. It's just that v15 now is verbose about this.

[2022-11-18 10:35] chienandalu commented on #548
Sure, it goes back to version `8.0`... Closing then as pre-commit enforces it already.

[2022-11-18 10:35] #548 closed

[2022-11-18 16:04] pedrobaeza commented on #546
Included in the wiki, thanks.

[2022-11-18 16:04] #546 closed

[2022-11-24 10:49] chienandalu opened #549 "unaccent migration guideline is in the wrong version wiki"
This point should belong to the 16.0 guidelines and not to the 15.0 one as it is now.

- Put `unaccent=False` on field definitions where no distinction should be made between accented words, for getting better performance on searches. Example: `parent_path` field. See https://github.com/odoo/odoo/pull/76436 for more details.

[2022-11-26 11:20] pedrobaeza commented on #549
Changed.

[2022-11-26 11:20] #549 closed

[2022-11-28 15:52] bealdav commented on #489
I also fail in
[code]